.btn{
    margin: 2px;
    border-radius: 8px;
    font-weight: 600;
    padding: 8px 16px;
}

.destaque{
    color: var(--azul-1);
    font-weight: bolder;
}

.bem-vindo{
    font-size: 1.8rem;
    color: #333;
}

.btn-azul{
    background-color: var(--azul-1);
    border: 1px solid var(--azul-1);
    max-width: 200px;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: .3s;
}

.acessar{
    position: absolute;
    margin-right: 20px;
}

.btn-azul:hover{
    transition: .3s;
    background-color: transparent;
    color: var(--azul-1);
}

.btn-azul i{
    position: absolute;
    margin-left: 70px;
    transition: .4s;
}

.btn-azul:hover i{
    margin-left: 110px;
    transition: .4s;
}

.centralizado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: inset 3px 3px 20px #0000000b;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 100px;
}